.float-right {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.float-left {
  float: left;
  margin-left: 20px;
}

.hidden {
  display: none;
}

.thumb {
  height: 200px;
  width: 150px;
  display: block;
}

.sort {
  border-right: 1px solid black;
  padding-right: 5px;
}
